/* .vlog{
position: relative;
  top:200px;
  width: 10px;
} */

.blogh{
    text-align: center;
    position: relative;
    top:100px;
}


.vlog iframe {
  width: 90%;
  height: 500px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.vlogh{
    text-align: center;
}
.vlog-images {
  display: grid;
  grid-template-columns: repeat(4, 220px); 
  gap: 15px;
  margin-top: 20px;
  justify-content: center; 
}

.vlog-images img {
  width: 100%;
  height: 140px;
  /* object-fit: cover; */
  border-radius: 8px;
  /* transition: transform 0.3s, box-shadow 0.3s; */
  /* cursor: pointer; */
}

.vlog-images img:hover {
  transform: scale(1.05);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.3); */
}
